{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand center" href="#">Logo</a>
        </div>
    </nav>

    <main>
        <div class="center-image">
            <img src="https://via.placeholder.com/800x400" alt="Placeholder Image">
        </div>

        <header class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="display-6 fw-bold">Your Gateway to Unforgettable Event Experiences</h1>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">Discover and secure tickets to your favorite events with ease. Join our community of passionate fans and never miss out on the action!</p>
                        <div>
                            <a href="#" class="btn btn-dark btn-lg me-2">Explore</a>
                            <a href="#" class="btn btn-outline-dark btn-lg">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
