body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border: none;
    border-radius: 10px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #212529;
}

.btn-dark {
    background-color: #212529;
    border-color: #212529;
}

.btn-dark:hover {
    background-color: #333333;
    border-color: #333333;
}

.btn-danger {
    background-color: #db4437;
    border-color: #db4437;
}

.btn-danger:hover {
    background-color: #c33d31;
    border-color: #c33d31;
}

.text-dark {
    font-weight: 500;
    color: #212529;
}

.text-dark:hover {
    text-decoration: underline;
}

.helptext {
    margin-top: .5rem !important;
    display: block !important;
}

.text-muted {
    font-size: 0.9rem;
}
